<div class="photos-wrapper">
    <button class="photo-nav photo-nav-prev" aria-label="Previous photo">
        <i class="fa fa-chevron-left"></i>
    </button>

    <div class="photos-carousel">
        {{ range $.Site.Data.photos }}
        <div class="photo-card">
            <img src="{{ .image }}" alt="{{ .alt }}" loading="lazy">
        </div>
        {{ end }}
    </div>

    <button class="photo-nav photo-nav-next" aria-label="Next photo">
        <i class="fa fa-chevron-right"></i>
    </button>
</div>
